@font-face {
    font-family: 'Karla';
    src: url('./assets/fonts/Karla-VariableFont_wght.ttf') format('woff2');
         
    font-weight: normal;
    font-style: normal;
  }

  body{
    font-family: 'Karla';
  }

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  

    @keyframes fadein{
      from{
        opacity: 0;
      }
      to{
        opacity: 1;
      }
    }

    .fade {
      animation: fadein 1s ease-out;
    }